<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>SecureDevelopmentPublicKey</key>
    <string>64936eb2-a6e8-4139-93f6-045ca78c8d8b</string>
    <key>SecureProductionPublicKey</key>
    <string>91ed7d94-7f5a-4323-a9b0-d9583f1155ef</string>
    <key>SecureDevelopmentAPIVersion</key>
    <string>0</string>
    <key>SecureProductionAPIVersion</key>
    <string>1</string>
    <key>OpenDevelopmentPublicKey</key>
    <string>b993d420-e60b-4f81-b551-b1c116a0b93a</string>
    <key>OpenProductionPublicKey</key>
    <string>d53b5c7c-5283-4959-8ff4-89f680266853</string>
    <key>OpenDevelopmentAPIVersion</key>
    <string>0</string>
    <key>OpenProductionAPIVersion</key>
    <string>1</string>
    <key>UseSecure</key>
    <true/>
    <key>ShowLogs</key>
    <true/>
    <key>UseProduction</key>
    <false/>
  </dict>
</plist>
