<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenURL</key>
	<string>https://kitchensync.fatfractal.com/open</string>
	<key>SecureURL</key>
	<string>https://kitchensync.fatfractal.com/secure</string>
	<key>LocalURL</key>
	<string>https://localhost:8443/open</string>
	<key>UseSecure</key>
	<true/>
	<key>ShowLogs</key>
	<true/>
</dict>
</plist>
