# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*~
ff-generated/

ParseConfiguration.plist
StackmobConfiguration.plist
KinveyConfiguration.plist
FatFractalConfiguration.plist


KitchenSyncFatfractal/KitchenSyncOpen/ff-generated/exploded/WEB-INF/fatfractal.xml

KitchenSyncFatfractal/KitchenSyncOpen/ff-generated/exploded/WEB-INF/fatfractal.xml

KitchenSyncFatfractal/KitchenSyncOpen/ff-generated/exploded/js/KitchenSyncTests.js

KitchenSyncFatfractal/KitchenSyncOpen/ff-generated/exploded/js/KitchenSyncTests.js

*.war

KitchenSyncFatfractal/KitchenSyncOpen/ff-generated/ff-noserver-app-kitchensync-open.war

KitchenSyncFatfractal/KitchenSyncSecure/ff-generated/exploded/WEB-INF/fatfractal.xml

KitchenSyncFatfractal/KitchenSyncSecure/ff-generated/exploded/js/KitchenSyncTests.js

KitchenSyncFatfractal/KitchenSyncSecure/ff-generated/exploded/js/KitchenSyncTests.js

KitchenSyncFatfractal/KitchenSyncSecure/ff-generated/ff-noserver-app-kitchensync-secure.war

KitchenSyncFatfractal/KitchenSyncSecure/ff-generated/ff-noserver-app-kitchensync-secure.war

KitchenSyncKinvey/webapp/ff-generated/exploded/index.html

KitchenSyncKinvey/webapp/ff-generated/exploded/js/KitchenSyncTests.js

KitchenSyncKinvey/webapp/ff-generated/exploded/js/KitchenSyncTests.js
